.link {
  font-size: min(6vw, 1.5rem);

  &:focus {
    outline-offset: 0.5rem;
    outline-width: 0.25rem;
    outline-style: solid;
    border-radius: 20rem;
    outline-color: #5865f2;
  }

  &_animation_underline {
    display: block;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      width: 0%;
      height: 0.2rem;
      background-color: #000;
    }
  }
  &:hover, &:hover &_animation_underline {
    color: #5865f2;
    &::after {
      width: 100%;
    }
  }

  &_style_in-text {
    color: #5865f2;
  }
}