@use '../../vars/' as *;

.link {
  display: inline-block;
  font-size: min(6vw, 1.5rem);

  &:focus-visible {
    outline-offset: 0.5rem;
    outline-width: 0.25rem;
    outline-style: solid;
    border-radius: 1.5rem;
    outline-color: $blue;
  }

  &_animation_underline {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      width: 0%;
      height: 0.2rem;
      background-color: #000;
    }
  }
  &:hover, &:hover &_animation_underline {
    color: $blue;
    &::after {
      width: 100%;
    }
  }

  &_style_in-text {
    color: $blue;
  }
}