@use '../vars/' as *;

.footer {
  @media (min-width: calc($mobile + 1px)) {
    &__container {
      background-color: #d9dada;
    }
  }
  
  &__contacts {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 2rem;
    align-items: center;
  }
}