@use '../vars/' as *;

.works {
  overflow: hidden;

  &__swiper {
    @media (min-width: calc($laptop + 1px)) {
      padding: 1rem $padding-container;
    }
  }

  &__item {
    width: min(100%, 65rem);
    @media (min-width: calc($mobile + 1px)) {
      aspect-ratio: 1440 / 800;
    }
    @media (max-width: $mobile) {
      aspect-ratio: 1440 / 1200;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: 0.4s;

    &:hover {
      object-position: 0% 100%;
      transition-delay: 0.5s;
    }   
  }
}