@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/Unbounded/Unbounded-Regular-subset.woff2') format('woff2'),
       url('@fonts/Unbounded/Unbounded-Regular-subset.woff') format('woff'),
       url('@fonts/Unbounded/Unbounded-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  src: url('@fonts/Unbounded/Unbounded-Bold-subset.woff2') format('woff2'),
       url('@fonts/Unbounded/Unbounded-Bold-subset.woff') format('woff'),
       url('@fonts/Unbounded/Unbounded-Bold.ttf') format('ttf');
}

* {
  font-family: 'Unbounded', sans-serif;
}