* {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
*, ::before, ::after {
  transition: 0.25s;
}

button {
  display: block;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
}